# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.agents
.claude
.kiro
.trae

# 忽略生成的配置文件，但保留配置目录结构
config/config.yaml
data
logs

node_modules/
.next

# 注意：web/out 需要被提交，因为会被嵌入到可执行文件中
# 如果不想提交，可以取消下面的注释
web/out
web/node_modules